<% title "Configurações" %>



<%= link_to bancos_path, :class => "btn btn-default btn-lg" do %>
  <span class="glyphicon glyphicon glyphicon glyphicon-lock" aria-hidden="true" style="color:green"></span> Bancos
<%end%>
<%= link_to contabancariatipos_path, :class => "btn btn-default btn-lg" do %>
  <span class="glyphicon glyphicon glyphicon glyphicon-tag" aria-hidden="true" style="color:green"></span> Tipos de Contas
<%end%>
<%= link_to operadoras_path, :class => "btn btn-default btn-lg" do %>
  <span class="glyphicon glyphicon glyphicon glyphicon-earphone" aria-hidden="true" style="color:green"></span> Operadoras
<%end%>
