<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NewTIME | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link href="/assets/template/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->

  <link rel="stylesheet" href="/assets/template/font-awesome/font-awesome.min.css" rel="stylesheet">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/assets/template/ionicons/ionicons.min.css" rel="stylesheet">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/template/dist/css/AdminLTE.min.css" rel="stylesheet">
  <!-- iCheck -->
  <link rel="stylesheet" href="/assets/template/plugins/iCheck/square/blue.css">

</head>
<br>
<body class="hold-transition login-page">
<div class="row">
  <!-- left column -->
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Dúvias Frequentes</h3>
      </div>

<div class="row">
  <!-- left column -->
  <div class="col-md-1">
  </div>
  <div class="col-md-10">


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          A New Time é uma empresa?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Não, não é uma empresa, não possui CNPJ, não é Marketing Multinível e não recebe nenhum repasse. Gostamos de pensar no sistema como uma agenda eletrônica onde controla os seus amigos e doações.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          A New Time é seguro e legal? 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Sim, o nosso sistema é criptografado garantindo a preservação das suas informações, os valores não passam pelo sistema, não existem intermediários e as doações serão feitas diretamente na sua conta bancária e confirmadas somente por você. A sua legalidade está amparada no código civil brasileiro, em seu Artigo 538, em que uma pessoa de forma liberal transfere do seu patrimônio para outra e em seu Artigo 541, em que a doação se faz por instrumento particular.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Quanto a New Time ganha?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Nada, a New Time não é uma empresa e não recebe dinheiro de nenhum usuário. As doações serão recebidas diretamente na sua conta bancária e confirmados por você. Nenhum valor passará pelo site.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading4">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Qual o objetivo da New Time?
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
       A New Time é apenas uma plataforma para organizar as pessoas e gerenciar as doações, facilitando o desenvolvimento de todos os participantes. A New Time não tem interesse financeiro, pois ela não recebe nada.
      </div>
    </div>
  </div> 
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading5">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Quantas vezes preciso investir?
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="panel-body">
       Seu investimento ocorrerá uma única vez (R$ 30,00). Os demais repasses de doações são oriundos das doações que você receberá.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading6">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Posso me cadastrar mais de uma vez?
        </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="panel-body">
       Sim, você pode se cadastrar quantas vezes desejar, escolhendo "logins" diferentes.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading7">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Qual o prazo para realizar as doações?
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="panel-body">
       O prazo é de 1 útil para você doar e informar a doação ao sistema, a doação pode ter o prazo estendido por quem for receber a doação por mais 1 dia útil, após esse prazo a doação é cancelada. É importante informar o maior número de informações possíveis como comprovantes, forma de envio da doação para facilitar a identificação de quem recebeu.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Posso ser reembolsado?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
       Sua adesão ou upgrade não é reembolsável. Todos as doações são feitas diretamente a outras pessoas. Não é possível efetuar reembolso já que não é o sistema que recebe as doações.
      </div>
    </div>
  </div>   

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading9">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Quando o upgrade é obrigatório?
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body">
       No primeiro ao sexto ciclo assim que você receber suas 4 doações você deve realizar o upgrade.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Como realizar upgrade?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
        Basta acessar seu escritório e no menu "Meus Logins", escolher o login que deseja fazer o upgrade e clicar no botão "Upgrade para o ciclo seguinte". Caso você tenha alguma doação pendente a realizar daquele login, não será gerada uma nova ordem de upgrade enquanto a doações estiver em aberto.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Sou obrigado a indicar muitas pessoas?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
        Não, é sugerido indicar apenas dois amigos para avançar nos ciclos. Lembrando que é somente duas pessoas. Em nenhum momento mais será necessário indicar mais pessoas. 
      </div>
    </div>
  </div>    

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          Preciso deixar o número de meu CPF no cadastro?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
        Sim. Essa informação é extremamente importante pois os doadores podem ter um banco diferente do seu e para transferir o valor da doação é necessário informar seu CPF e o nome completo do titular dessa conta bancária. Deixar essa informação no site não é perigosa e como exemplo, é o tipo de dado que ficam expostos em um simples cheque bancário.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Se alguém sair, quebra a rede?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">
        Não o sistema organizado e sustentável em organograma da New Time, foi cuidadosamente estudado, planejado e aperfeiçoado. Se um usuário sair outro será colocado em seu lugar sem prejudicar a rede das outras pessoas.
      </div>
    </div>
  </div>      



  <div align="right">
    <%= link_to root_path, :class => "btn btn-info btn-bg" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    <% end %>   
  </div>  
  <br>
  <br>

</div>
</div>
</div>
</div>
</div>
</div>


  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  
</body>
</html>