<% title "Perguntas Frequentes" %>

<h4>A New Time é uma empresa?</h4>
<p>Não, não é uma empresa, não possui CNPJ, não é Marketing Multinível e não recebe nenhum repasse. Gostamos de pensar no sistema como uma agenda eletrônica onde controla os seus amigos e doações.</p>

<h4>A New Time é seguro e legal?</h4>
<p>Sim, o nosso sistema é criptografado garantindo a preservação das suas informações, os valores não passam pelo sistema, não existem intermediários e as doações serão feitas diretamente na sua conta bancária e confirmadas somente por você. A sua leg está amparada no código civil brasileiro, em seu Artigo 538, em que uma pessoa de forma liberal transfere do seu patrimônio para outra e em seu Artigo 541, em que a doação se faz por instrumento particular.</p>

<h4>Quanto a New Time ganha?</h4>
<p>Nada, a New Time não é uma empresa e não recebe dinheiro de nenhum usuário. As doações serão recebidas diretamente na sua conta bancária e confirmados por você. Nenhum valor passará pelo site.</p>

<h4>Qual o objetivo da New Time?</h4>
<p>A New Time é apenas uma plataforma para organizar as pessoas e gerenciar as doações, facilitando o desenvolvimento de todos os participantes. A New Time não tem interesse financeiro, pois ela não recebe nada.</p>

<h4>Quantas vezes preciso investir?</h4>
<p>Seu investimento ocorrerá uma única vez (R$ 30,00). Os demais repasses de doações são oriundos das doações que você receberá.</p>

<h4>Posso me cadastrar mais de uma vez?</h4>
<p>Sim, você pode se cadastrar quantas vezes desejar, escolhendo "logins" diferentes.</p>

<h4>Qual o prazo para realizar as doações?</h4>
<p>O prazo é de 1 útil para você doar e informar a doação ao sistema, a doação pode ter o prazo estendido por quem for receber a doação por mais 1 dia útil, após esse prazo a doação é cancelada. É importante informar o maior número de informações possíveis como comprovantes, forma de envio da doação para facilitar a identificação de quem recebeu.</p>

<h4>Posso ser reembolsado?</h4>
<p>Sua adesão ou upgrade não é reembolsável. Todos as doações são feitas diretamente a outras pessoas. Não é possível efetuar reembolso já que não é o sistema que recebe as doações.</p>

<h4>Quando o upgrade é obrigatório?</h4>
<p>No primeiro ao sexto ciclo assim que você receber suas 4 doações você deve realizar o upgrade. Porém você pode fazer o upgrade a qualquer momento, mesmo antes de ter recebido duas doações do nível.</p>

<h4>Como realizar upgrade?</h4>
<p>Basta acessar seu escritório e no menu "Meus Logins", escolher o login que deseja fazer o upgrade e clicar no botão "Upgrade para o ciclo seguinte". Caso você tenha alguma doação pendente a realizar daquele login, não será gerada uma nova ordem de upgrade enquanto a doações estiver em aberto.</p>

<h4>Sou obrigado a indicar muitas pessoas?</h4>
<p>Não, é preciso indicar apenas dois amigos para avançar nos ciclos. Lembrando que é somente duas pessoas. Em nenhum momento mais será necessário indicar mais pessoas.</p>

<h4>Preciso deixar o número de meu CPF no cadastro?</h4>
<p>Sim. Essa informação é extremamente importante pois os doadores podem ter um banco diferente do seu e para transferir o valor da doação é necessário informar seu CPF e o nome completo do titular dessa conta bancária. Deixar essa informação no site não é perigosa e como exemplo, é o tipo de dado que ficam expostos em um simples cheque bancário.</p>


<h4>Se alguém sair, quebra a rede?</h4>
<p>Não o sistema organizado e sustentável em organograma da New Time, foi cuidadosamente estudado, planejado e aperfeiçoado. Se um usuário sair outro será colocado em seu lugar sem prejudicar a rede das outras pessoas.</p>