<!DOCTYPE html>
<html>
<head>
  <!-- Mobirise Free Bootstrap Template, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v2.6.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/discover-mobile-350x350-16.png" type="image/x-icon">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/socicon/css/socicon.min.css">
  <link rel="stylesheet" href="assets/mobirise/css/style.css">
  <link rel="stylesheet" href="assets/mobirise-slider/style.css">
  <link rel="stylesheet" href="assets/mobirise-gallery/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
</head>
<body>



<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-74">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <span class="mbr-brand__logo"><a href="#"><img class="mbr-navbar__brand-img mbr-brand__img" src="assets/images/discover-mobile-350x350-53.png" alt="Mobirise"></a></span>
                        <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="#">New Time</a></span>
                    </span>
                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger text-white"><span class="mbr-hamburger__line"></span></div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                        <div class="mbr-navbar__column">
                            <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=root_path%>">Home</a>
                                </li> 
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=faq_path%>">FAQ</a>
                                </li>
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="#">Contato</a>
                                </li> 
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__link btn text-white" href="<%=new_cadastro_path%>">Cadastro</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-navbar__column">
                            <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-inverse mbr-buttons--active">
                                <li class="mbr-navbar__item">
                                    <a class="mbr-buttons__btn btn btn-default" href="<%=login_path%>">Escritório Virtual</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mbr-section mbr-section--relative mbr-parallax-background" id="msg-box5-79" style="background-image: url(assets/images/iphone-6-458150-1920-1920x1285-73.jpg);">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 168, 133);"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
<body class="hold-transition login-page">
<div class="row">
  <!-- left column -->
  <div class="col-md-2">
  </div>
  <div class="col-md-8">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          A New Time é uma empresa?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Não, não é uma empresa, não possui CNPJ, não é Marketing Multinível e não recebe nenhum repasse. Gostamos de pensar no sistema como uma agenda eletrônica onde controla os seus amigos e doações.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          A New Time é seguro e legal?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Sim, o nosso sistema é criptografado garantindo a preservação das suas informações, os valores não passam pelo sistema, não existem intermediários e as doações serão feitas diretamente na sua conta bancária e confirmadas somente por você. A sua leg está amparada no código civil brasileiro, em seu Artigo 538, em que uma pessoa de forma liberal transfere do seu patrimônio para outra e em seu Artigo 541, em que a doação se faz por instrumento particular.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Quanto a New Time ganha?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Nada, a New Time não é uma empresa e não recebe dinheiro de nenhum usuário. As doações serão recebidas diretamente na sua conta bancária e confirmados por você. Nenhum valor passará pelo site.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading4">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Qual o objetivo da New Time?
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
       A New Time é apenas uma plataforma para organizar as pessoas e gerenciar as doações, facilitando o desenvolvimento de todos os participantes. A New Time não tem interesse financeiro, pois ela não recebe nada.
      </div>
    </div>
  </div> 
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading5">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Quantas vezes preciso investir?
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="panel-body">
       Seu investimento ocorrerá uma única vez (R$ 30,00). Os demais repasses de doações são oriundos das doações que você receberá.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading6">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Posso me cadastrar mais de uma vez?
        </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="panel-body">
       Sim, você pode se cadastrar quantas vezes desejar, escolhendo "logins" diferentes.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading7">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Qual o prazo para realizar as doações?
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="panel-body">
       O prazo é de 1 útil para você doar e informar a doação ao sistema, a doação pode ter o prazo estendido por quem for receber a doação por mais 1 dia útil, após esse prazo a doação é cancelada. É importante informar o maior número de informações possíveis como comprovantes, forma de envio da doação para facilitar a identificação de quem recebeu.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Posso ser reembolsado?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
       Sua adesão ou upgrade não é reembolsável. Todos as doações são feitas diretamente a outras pessoas. Não é possível efetuar reembolso já que não é o sistema que recebe as doações.
      </div>
    </div>
  </div>   

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading9">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Quando o upgrade é obrigatório?
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body">
       No primeiro ao sexto ciclo assim que você receber suas 4 doações você deve realizar o upgrade. Porém você pode fazer o upgrade a qualquer momento, mesmo antes de ter recebido duas doações do nível.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Como realizar upgrade?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
        Basta acessar seu escritório e no menu "Meus Logins", escolher o login que deseja fazer o upgrade e clicar no botão "Upgrade para o ciclo seguinte". Caso você tenha alguma doação pendente a realizar daquele login, não será gerada uma nova ordem de upgrade enquanto a doações estiver em aberto.
      </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Sou obrigado a indicar muitas pessoas?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
        Não, é preciso indicar apenas dois amigos para avançar nos ciclos. Lembrando que é somente duas pessoas. Em nenhum momento mais será necessário indicar mais pessoas. 
      </div>
    </div>
  </div>    

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          Preciso deixar o número de meu CPF no cadastro?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
        Sim. Essa informação é extremamente importante pois os doadores podem ter um banco diferente do seu e para transferir o valor da doação é necessário informar seu CPF e o nome completo do titular dessa conta bancária. Deixar essa informação no site não é perigosa e como exemplo, é o tipo de dado que ficam expostos em um simples cheque bancário.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Se alguém sair, quebra a rede?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">
        Não o sistema organizado e sustentável em organograma da New Time, foi cuidadosamente estudado, planejado e aperfeiçoado. Se um usuário sair outro será colocado em seu lugar sem prejudicar a rede das outras pessoas.
      </div>
    </div>
  </div>      

</div>
    
</body>
                
            </div>
        </div>
    </div>
</section>

<section class="content-2 col-3" id="features1-80" style="background-color: rgb(239, 239, 239);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/phone-350x350-12.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Acesso Mobile</h3>
                            <p>Todas as suas operações podem ser realizadas diretamente de seu celular, com a comodiade que o seu dia-a-dia precisa.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/anemone-350x350-67.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Fácil de Usar</h3>
                            <p>Intuitivo é a melhor palavra pra definir o nosso sistema. Todos os menus são em português deixando o usuário sempre tranquilo e certo do que está acontecendo</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="assets/images/clear-350x350-99.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Testado</h3>
                            <p>Um sistema que possui precedentes de bastante sucesso tornando-se assim a rede colaborativa mais eficiente e rentável do mercado.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!-- <section class="pricing-table-1 col-4" id="pricing-table1-86" style="background-color: rgb(240, 240, 240);">
    

    <div class="container">
        <div class="row">
            <div>
                <div class="plan green">
                    <h3>Ciclo 2</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>30</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>32 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>15 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan orange">
                    <h3>Ciclo 3</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>60</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>80 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>20 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan favorite">
                    <h3>Ciclo 4</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>120</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>100 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>50 GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
            <div>
                <div class="plan blue">
                    <h3>Ciclo 5</h3>
                    <p class="price">
                        <strong><sup>R$</sup><span>240</span></strong>
                        <small>per month</small>
                    </p>
                    <div><ul><li><strong>Unlimited</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>1TB GB</strong> Bandwidth</li></ul></div>
                    <p><a href="https://mobirise.com/bootstrap-template/" class="btn btn-success">DEMO LINK</a></p>
                </div>
            </div>
        </div>
    </div>
</section> -->



<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-91" style="background-color: rgb(68, 68, 68);">
    
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright"></p><p>Copyright (c) 2015 Company Name. <a href="https://mobirise.com/bootstrap-template/license.txt" class="text-gray">License</a></p><p></p>
            </div>
        </div>
    </div>
</footer>


  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  <!-- <script src="assets/smooth-scroll/SmoothScroll.js"></script> -->
  <!-- <script src="assets/jarallax/jarallax.js"></script> -->
  <!-- <script src="assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script> -->
  <!-- <script src="assets/masonry/masonry.pkgd.min.js"></script> -->
  <!-- <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script> -->
  <!-- <script src="assets/social-likes/social-likes.js"></script> -->
  <!-- <script src="assets/mobirise/js/script.js"></script> -->
  <!-- <script src="assets/mobirise-gallery/script.js"></script> -->
  
  
</body>
</html>