<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%=@cadastros.count%> Resultados</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Número</th>
            <th>Dadata de Inclusao</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @cadastros.each do |cadastro| %>

          <% if reentrada(cadastro.id) == 'obrigatoria' %>
            <tr>
              <td><%= cadastro.nomepessoa %></td>
              <td><%= cadastro.contador %></td>
              <td><%= showDate(cadastro.created_at,true)%></td>
              <td align="right">
              </td>
            </tr>
          <%end%>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
