<% title "Editando Banco" %>

<%= render 'form' %>

 </br>
 
  <%= link_to @banco , :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-list-alt"></span> Exibir
  <% end %>

  <%= link_to bancos_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
