<% title "Listando bancos" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome do Banco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><%= banco.nomebanco %></td>

          <td align='right'>
            <div class="btn-group">
              <%#= link_to fd_produto, :class => "btn btn-default btn-sm" do %>
              <!--  <span class="glyphicon glyphicon-list-alt"></span> Exibir -->
              <%# end %>             
              <%= link_to edit_banco_path(banco), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to banco , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_banco_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
<% end %>
