<% title "Exibindo Banco" %>

<p>
  <strong>Nome do Banco:</strong>
  <%= @banco.nomebanco %>
</p>

 </br>
 
  <%= link_to edit_banco_path(@banco), :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-pencil"></span> Edit
  <% end %>

  <%= link_to bancos_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
