<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @situacaodemanda.descricao %>
</p>

<%= link_to 'Edit', edit_situacaodemanda_path(@situacaodemanda) %> |
<%= link_to 'Back', situacaodemandas_path %>
