<p id="notice"><%= notice %></p>

<%if @indicados.count < 2 %>
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-info"></i> Atenção</h4>
    São necessárias duas indicações diretas para o primeiro upgrade.
  </div>
<%end%>

<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Indicados</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th >id</th>
            <th >Nome</th>
            <th >Login</th>
          </tr>
        </thead>

        <tbody>
          <% @indicados.each do |indicado| %>
            <tr>
              <td>
                <%=indicado.cadastro_2.id%>
              </td>
              <td>
                <%=indicado.cadastro_2.nomepessoa%>
              </td>
              <td>
                <%=indicado.cadastro_2.email%>
              </td>              
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="timeline-footer">
      <br>


      </div>              
    </div>
    <!-- /.box-body -->
</div> 



