<p id="notice"><%= notice %></p>

<p>
  <strong>Nometipo:</strong>
  <%= @tipocontum.nometipo %>
</p>

<%= link_to 'Edit', edit_tipocontum_path(@tipocontum) %> |
<%= link_to 'Back', tipoconta_path %>
