<% title "Editando Tipos de Contas" %>

<%= render 'form' %>

<br>
  <%= link_to @contabancariatipo , :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-list-alt"></span> Exibir
  <% end %>

  <%= link_to contabancariatipos_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
 