<% title "Listando Tipos de Contas" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome do Tipo de Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contabancariatipos.each do |contabancariatipo| %>
      <tr>
        <td><%= contabancariatipo.nometipo %></td>

          <td align='right'>
            <div class="btn-group">
              <%#= link_to fd_produto, :class => "btn btn-default btn-sm" do %>
              <!--  <span class="glyphicon glyphicon-list-alt"></span> Exibir -->
              <%# end %>             
              <%= link_to edit_contabancariatipo_path(contabancariatipo), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to contabancariatipo , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
            </div>
          </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_contabancariatipo_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
<% end %>
