<p id="notice"><%= notice %></p>

<p>
  <strong>Nometipo:</strong>
  <%= @contabancariatipo.nometipo %>
</p>

<%= link_to 'Edit', edit_contabancariatipo_path(@contabancariatipo) %> |
<%= link_to 'Back', contabancariatipos_path %>
