<% title "Exibindo Tipo de Conta" %>

<p>
  <strong>Nome do Tipo de Conta:</strong>
  <%= @contabancariatipo.nometipo %>
</p>

 </br>
 
  <%= link_to edit_contabancariatipo_path(@contabancariatipo), :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-pencil"></span> Edit
  <% end %>

  <%= link_to contabancariatipos_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 

