<p id="notice"><%= notice %></p>

<div class="box box-warning">
    <div class="box-header with-border">
      <h4 class="timeline-header"><a href="#">Reentradas</a></h4>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th >Login</th>
            <th >Ciclo</th>
          </tr>
        </thead>

        <tbody>
          <% @reentradas.each do |reentrada| %>
            <tr>
              <td>
                <%=reentrada.cadastro_2.email%>
              </td>
              <td>
                <%=reentrada.cadastro_2.ciclo.numerociclo%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="timeline-footer">
      <br>
        <div align="right">
          <%= link_to novareentrada_path, :class => "btn btn-success btn-sm" do %>
             Nova Reentrada
          <% end %>          
        </div>

      </div>              
    </div>
    <!-- /.box-body -->
</div> 



