<% title "Editando operadora" %>

<%= render 'form' %>

 </br>
 
  <%= link_to @operadora , :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-list-alt"></span> Exibir
  <% end %>

  <%= link_to operadoras_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
