<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeoperadora:</strong>
  <%= @operadora.nomeoperadora %>
</p>

<%= link_to 'Edit', edit_operadora_path(@operadora) %> |
<%= link_to 'Back', operadoras_path %>
