<% title "Exibindo operadora" %>
<p>
  <strong>Nomeoperadora:</strong>
  <%= @operadora.nomeoperadora %>
</p>

 </br>
 
  <%= link_to edit_operadora_path(@operadora), :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-pencil"></span> Edit
  <% end %>

  <%= link_to operadoras_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %> 
 