<% title "Novo Ciclo" %>

<%= render 'form' %>

	  <%= link_to ciclos_path, :class => "btn btn-danger btn-bg" do %>
	    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
	  <% end %>	  

</div>  